<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CryptoWatch</title>
    <link rel="stylesheet" href="styles/coinstyles.css">
    <script>
        $(function() {
            $(document).ready(function() {
                $('#example').DataTable();
            });
        });
    </script>
</head>
<body>
<!--<div class="table-wrapper">-->
<!--    <table class="fl-table">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th><h2>Name</h2></th>-->
<!--            <th><h2>Symbol</h2></th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:if="${coins==null}">-->
<!--            <td colspan="2"><h2> No Coins Available </h2></td>-->
<!--        </tr>-->
<!--        <tr th:each="coin : ${coins}">-->
<!--            <form th:action="@{/coin(name=${coin.name})}">-->
<!--                <td><button th:name="action" th:text="${coin.name}" th:href="@{/coin(name=${coin.name})}"></button></td>-->
<!--                <td th:text="${coin.symbol}"></td>-->
<!--            </form>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<div class="container py-5">
    <div class="row py-5">
        <div class="col-lg-10 mx-auto">
            <div class="card rounded shadow border-0">
                <div class="card-body p-5 bg-white rounded">
                    <div class="table-responsive">
                        <table id="example" style="width:100%" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Symbol</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:if="${coins==null}">
                                    <td colspan="2"><h2> No Coins Available </h2></td>
                                </tr>
                                <tr th:each="coin : ${coins}">
                                    <form th:action="@{/coin(name=${coin.name})}">
                                        <td><button th:name="action" th:text="${coin.name}" th:href="@{/coin(name=${coin.name})}"></button></td>
                                        <td th:text="${coin.symbol}"></td>
                                    </form>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>