/*Variables css*/
/*Colors*/
:root {
    --primary-color: #585858;
    --secondary-color: #333333;
    --accent-color: #6D9886;
}

body{
    min-height: 100vh;
    background-color: var(--primary-color);
}

p,h1,h2,h3,h4,h5,h6{
    font-family: Courier, serif;
}

button{
    background-color: var(--accent-color);
}

#footerDiv{
    background-color: var(--secondary-color);
    color: white;
}

#headerButt{
    background-color: var(--accent-color);
    color: white;
}

/*
Custom colors for links
 */
a:link {
    color: var(--accent-color);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: gray;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: whitesmoke;
    background-color: transparent;
    text-decoration: underline;
}

/*
Makes table scrollable
*/
.my-custom-scrollbar {
    position: relative;
    height: 530px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}


/*
Search Bar
 */

